<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HRM</title>
    <link rel="stylesheet" href="../../bootstrap/dist/css/bootstrap.css" />
    <link rel=”stylesheet” href=”https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css”>
    <link rel="stylesheet" href="../../css/hrm.css" />
  </head>
  <body>
    {{> _navbar}}
    {{> _messages}}
    {{{body}}}
    <script src="../../jquery/dist/jquery.js"></script>
    <script src="../../popper.js/dist/popper.js"></script>
    <script src="../../bootstrap/dist/js/bootstrap.js"></script>
    <script src="../../js/client.js"></script>
  </body>
</html>